VITE_API_BASE_URL=/api
VITE_AZURE_AUTHORITY=https://acmeretailcustomers.ciamlogin.com/acmeretailcustomers.onmicrosoft.com
VITE_AZURE_CLIENT_ID=00000000-0000-0000-0000-000000000000
VITE_AZURE_API_SCOPE=api://acme-retail-api/access_as_user
VITE_AZURE_REDIRECT_URI=http://localhost:5173
VITE_APPINSIGHTS_CONNECTION_STRING=
